<!-- Laboratorio 5, 6 -->
<div class="cards-container">
  <div class="product-card">
    <img [src]="product.image" alt="" />
    <div class="product-info">
      <div>
        <p>${{ product.price }}</p>
        <p>{{ product.name }}</p>
      </div>
      <figure class="AddCart">
        <!-- Outputs -->
        <!-- Lab - Práctica: Agrega el event (click) con el metodo addToCartHandler() -->
        <img src="./../../../assets/icons/bt_add_to_cart.svg" alt="" class="AddCartImg"
        (click)="addToCartHandler()"
        />
      </figure>
    </div>
    <div class="product-counter">
      <button (click)="addProduct()">+</button>
      <p>{{ cantidad }}</p>
      <button (click)="removeProduct()">-</button>
    </div>
  </div>
  <div *ngIf="soldOut" class="product-soldOut">
    <b>Producto Agotado</b>
  </div>
</div>


<!-- Laboratorio 3, 4 -->
<!-- <h1 class="Hola1">{{ Hola }}</h1>
<div class="cards-container">
  <div class="product-card">
    <img
      [src]="product.image"
      alt="{{ product.name }}"
    />
    <div class="product-info">
      <div>
        <p>$120,00</p>
        <p>{{ product.name }}</p>
      </div>
      <figure>
        <img src="./../../../assets/icons/bt_add_to_cart.svg" alt="" />
      </figure>
    </div>
    <div class="product-counter">
      <button (click)="addProduct()">+</button>
      <p>{{ cantidad }}</p>
      <button (click)="removeProduct()">-</button>
    </div>
  </div>
</div> -->

<!-- Laboratorio 1, 2 -->
<!-- <div class="cards-container">
    <div class="product-card">
      <img
        src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt=""
      />
      <div class="product-info">
        <div>
          <p>$120,00</p>
          <p>Bike</p>
        </div>
        <figure>
          <img src="./../../../assets/icons/bt_add_to_cart.svg" alt="" />
        </figure>
      </div>
    </div>
  </div> -->